ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO

POSTGRES_USER=learn_app
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=learn_db

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=1800

CORS_ORIGINS=["http://localhost:3000"]